*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

body{
	font-family: "Tahoma", Verdana, Arial, sans-serif;
	background: url('../img/fresh_snow.png');
}

h1{
	background: url('../img/logo.png') no-repeat;
	text-indent: -9999px;
	width: 120px;
	height: 35px;
	margin-bottom:5px;
	margin-top: 5px;
}

.btn{
	border-radius: 0 !important;
	border-top:0;
	border-bottom:0;
}

.btn-small{
	padding: 0;
}

.grid-thumbs li{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 122.5px;
	height: 122.5px;
	position: relative;
}

.grid-thumbs li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
}

.grid-thumbs li a:hover .hidden{
	display: block;
}

.grid-thumbs li dl{
	height: 50%;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: url('../img/bg-user-grid.png');
	overflow: hidden;
	margin: 0;
	padding: 5px;
}

.grid-thumbs li dl dt{
	font-size: 12px;
	line-height: 14px;
}

.grid-thumbs li dl dd{
	font-size: 11px;
	margin: 0;
	line-height: 13px;
}

.hidden{
	display: none;
}

.mod{
	margin-bottom: 20px;
}

.mod-content{
	margin: 0;
	color:#000000;
}

.mod-header, .mod-content{
	padding:10px;
}

.mod-header > h2{
	font-size:16px;
	font-weight: bold;
	color: #FFFFFF;
	margin:0;
	line-height: 16px;
	height: 18px;
}

.mod-header > span{
	color: #FFFFFF;
	margin: 0;
	font-size: 12px;
}

#animal-antics-mod{
	background: #bdd19c;
}

#animal-antics-mod > .mod-header{
	background: #6a9a16;
}

#content{
	/* SI EL HEADER VA FIJO */
	margin-top: 89px;
}

#header{
	margin-bottom:20px;
	/* SI EL HEADER VA FIJO */
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
}

#nav-bar{
	background-color: #da4f49;
	*background-color: #bd362f;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border:1px solid;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	 -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#nav-bar input{
	margin:1px 0;
	width: 100%;
	/* IE */
	padding: 0\9;
	padding-left: 3px\9;
	padding-right: 3px\9;
}

/* MOZ */

@-moz-document url-prefix(){
	#nav-bar input{
		padding:0 3px;
	}
}

#nav-bar ul, #nav-bar form, #nav-bar form input{
	margin-bottom: 0;
}

#nav-bar ul li a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 1px 10px;
	color:#FFFFFF;
}

#nav-bar ul li a:hover{
	text-decoration: none;
}

#profiles-mod{
	background: #e8b2ae;
}

#profiles-mod > .mod-header{
	background: #d95248;
}

#profiles-mod .mod-content{
	/* PARA EQUILIBRAR LA GRILLA */
	padding-right: 0;
	padding-bottom: 0;
}

#projects-mod{
	background: #b0bcda;
}

#projects-mod > .mod-header{
	background: #153ca0;
}


#user-menu{
	margin-top:10px;
}

#user-menu a{
	color: #000000;
}

#user-menu img{
	width: 25px;
	border: 1px solid #c9b200;
}

#user-menu li{
	font-size: 12px;
	float: right;
	padding:1px 5px 0;
	border-right: 1px solid #c9b200;
	height: 25px;
}

#user-menu li:first-child{
	padding-right: 0;
	border:none;
}

#user-menu li:last-child{
	padding-top: 0;
}

#user-menu span{
	font-weight: bold;
}

#yellow-bar{
	background: #e7cd00;
}

