/* pet loss module */

.content-description{ 
	min-height: 80px;

}

.bg-txt{ 
	background: #e7d3dc;
}

/* projects module */
.ie-project .bg-txt{
	background: #c7cfe4;
}

.grid-thumbs li dl{

	background-color: #dd8a84;
}

/*animal antics */

.video{ 
	
	margin: 0 5px 0 -1px;
}

