/* pet loss module */

.content-description{ 
	min-height: 80px;

}

.bg-txt{ 
	background: #e7d3dc;
}

/* projects module */
.ie-project .bg-txt{
	background: #c7cfe4;
}

.grid-thumbs li dl{

	background-color: #dd8a84;
}

/*animal antics */

.video{ 
	
	margin: 0 5px 0 -1px;
}


/* no ie */
#wrapper{
	display: none;
}


#ie{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #e7cd00;
	top:0;     
	left:0;     
	z-index:99999;
}

#ie div{
	width: 500px;
	margin: 10% auto;
}

