				<div id="user-login">
					<form class="grid_4 push_6 clearfix" id="form-login">
						

						<div class="grid_2 alpha">
							<label for="email">e-mail</label>
							<input type="text" name="email" id="email" placeholder="e-mail" style="width:100%"/>
						</div>
						<div class="grid_2 omega">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" placeholder="Password" style="width:100%"/>
						</div>
						<input type="button" id="login" value="Login" />
						<input type="hidden" name="token" id="token" value="'. $_SESSION['token'] . '" />
					</form>
				</div>

				<script type="text/javascript">
					var d= document;

					//======================PARA LOGUEARSE 
					document.getElementById('login').onclick = function() {
						//levanto los valores de los campos
						var email = d.getElementById('email').value;
						var pass = d.getElementById('password').value;
						var token = d.getElementById('token').value;

						//variable q pasa todo por post
						var vars = 'email='+email+'&password='+pass+'&token='+token;

						ajax('POST', 'ajax/login.php', printUserMenu, vars, true);
					}

				</script>
