				<div id="user-reg">
					<form class="grid_4 push_6 clearfix" id="form-login">
						

						<div class="grid_2 alpha">
							<label for="name">name</label>
							<input type="text" name="name" id="name" placeholder="name" style="width:100%"/>
						</div>

						<div class="grid_2 alpha">
							<label for="lastname">lastname</label>
							<input type="text" name="lastname" id="lastname" placeholder="lastname" style="width:100%"/>
						</div>

						<div class="grid_2 alpha">
							<label for="nickname">nickname</label>
							<input type="text" name="nickname" id="nickname" placeholder="nickname" style="width:100%"/>
						</div>

						<div class="grid_2 alpha">
							<label for="email">email</label>
							<input type="text" name="email" id="email" placeholder="email" style="width:100%"/>
						</div>

						<div class="grid_2 alpha">
							<label for="pass">password</label>
							<input type="text" name="pass" id="pass" placeholder="pass" style="width:100%"/>
						</div>

						<div class="grid_2 alpha">
							<label for="pass2">password-2</label>
							<input type="text" name="pass2" id="pass2" placeholder="pass2" style="width:100%"/>
						</div>

						<div class="grid_2 alpha">
							<label for="country">country</label>
							<input type="text" name="country" id="country" placeholder="country" style="width:100%"/>
						</div>

						<div class="grid_2 alpha">
							<label for="city">city</label>
							<input type="text" name="city" id="city" placeholder="city" style="width:100%"/>
						</div>

						<input type="button" id="reg" value="Sign up!" />
						<input type="hidden" name="token" id="token" value="'. $_SESSION['token'] . '" />
					</form>
					<input type="button" id="link" value="reg" />
					
				</div>

				<script type="text/javascript" id='jsreg'>

					byid('link').onclick = function(){
						ajax('POST', 'ajax/getReg.php', printReg, null, true);
					}



					//======================PARA REGISTRARSE 
					byid('reg').onclick = function() {
						
						//levanto los valores de los campos
						var name = byid('name').value;
						var lastname = byid('lastname').value;
						var nickname = byid('nickname').value;
						var email = byid('email').value;
						var pass = byid('pass').value;
						var pass2 = byid('pass2').value;
						var rank = 1;
						//var country = byid('country').value;
						var city = byid('city').value;
						var token = byid('token').value;

						//variable q pasa todo por post
						var vars = 'name='+name+'&lastname='+lastname+'&nickname='+nickname +'&email='+email+'&pass='+pass+
								   '&pass2='+pass2+'&rank='+rank +'&city='+city+'&token='+token;

						ajax('POST', 'ajax/reg.php', printUserMenu, vars, true);
					}

				</script>