h1{
		background: url('../../img/logo.png') no-repeat;
	text-indent: -9999px;
	width: 120px;
	height: 35px;
	margin-bottom:5px;
	margin-top: 5px;

}


/*//////////////////////// WORDPRESS /////////////////
#just_wp{
	margin-bottom: 67px !important;
}

.wp-submenu {
	margin-left: -1px !important;
}
/////////////////////////////////////////*/

	#pop-upsModule,  #ads-module{
		margin: 0 auto;
	}

	body {
		 background: transparent url(../img/bg.png) 0 0 repeat;
	 
	}

	.container-fluid{
		padding-top: 100px;
	}

	.form-signin {
	  max-width: 330px;
	  padding: 15px;
	  margin: 0 auto;
	}
	.form-signin .form-signin-heading,
	.form-signin .checkbox {
	  margin-bottom: 10px;
	}
	.form-signin .checkbox {
	  font-weight: normal;
	}
	.form-signin .form-control {
	  position: relative;
	  height: auto;
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	  padding: 10px;
	  width: 100%;
	  font-size: 16px;
	}
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="email"] {
	  margin-bottom: -1px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}



/*WORDPRESS*/

#adminmenuback, #adminmenuwrap, #adminmenu{
	height: 100% !important;
}

/*ADS*/

#iframe-ads{
	width: 100%;
	height: 800px;
	border: none;
}

#ad-body{
	background-color: #f5f5f5;
	background-image: none;
	color:#555555;
	text-align: center;
}

#ad-body form{
	width: 550px;
	margin: 0 auto;
}

#ad-body form table{
	margin-bottom: 20px;
}

#ad-body form table td{
	padding: 5px;
	border-bottom: 1px solid #ddd;
}

#ad-body form table td[colspan="2"]{
	color:#ffffff;
	border-radius: 7px;
	border:none;
}

#ad-body form input[type='radio']{
	display: inline-block;
	margin: 10px;
}

#ad-body form input[type='text']{
	width: 100%;
}

#ad-body > table{
	margin: 0 auto;
}

hr{
	margin: 0 0 20px;
}
